<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/babel" src='/static/javascript/index.js'></script>



</head>
<body>

   <!-- <div id="log_in_button" class="fb-login-button" value="{{ app_id }}" data-max-rows="1" data-size="large" data-auto-logout-link='true' scope="email" data-show-faces="false" data-auto-logout-link="true"  onlogin="checkLoginState"> -->

    <br>

    <div id="content" </div>


    <script type="text/babel" src='/static/javascript/index.js'></script>

    
</body>

</html>