<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>

    <!-- Google Oauth -->
    <html itemscope itemtype="http://schema.org/Article">
    
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
   
    <script type="text/babel" src='/static/javascript/index.js'></script>

</head>
<body>

    <div id="content" </div>


    <script type="text/babel" src='/static/javascript/index.js'></script>

    
</body>
</html>